{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}
  <body class="bg-[#1f1f1f]">    
    <main class="p-20 max-sm:p-3">
      <section>
        <div class="text-white max-sm:p-2">
          <h4 class="mb-3 font-mono text-3xl font-bold text-gray-100 text-start">
            About Me
          </h4>
          <h2 class="mb-5 font-mono text-3xl">Hi! I'm Hamzat Adebayo Hamzat</h2>
          {% for about_me in about %}
          <p class="text-md max-sm:mb-3">
            {{about_me.about_detail}}
          </p>
          {% endfor %}
        </div>
      </section>
      <section class="mt-10">
        <h4 class="mb-3 font-mono text-3xl font-bold text-gray-100 text-start">
          Work Experiance
        </h4>
        {% for work in experiences %}
        <div class="flex flex-col mb-3">
          <div class="flex justify-between mt-3 text-white">
            <h4 class="text-2xl font-semibold">{{work.title}}</h4>
            <div class="p-2 bg-teal-500 rounded-full text">{{work.type}}</div>
          </div>
          <div class="text-white max-sm:p-2">
            <p class="text-md max-sm:mb-3">
                {{work.description}}
              </p>
            </div>
          <div class="flex justify-between mt-2 text-white">
            <div>
              <i class="bx bx-building"></i>
              <p class="inline">{{work.company_name}}</p>
            </div>
            <div>
              <i class="bx bx-calendar-alt"></i>
              <p class="inline">{{work.start_date}} - {{work.end_date}}</p>
            </div>
          </div>
        </div>
        <hr />
        {% endfor %}
      </section>
      <section class="mt-10">
        <h4 class="mb-3 font-mono text-3xl font-bold text-gray-100 text-start">
          Education
        </h4>
        {% for education in educations %}
        <div class="flex flex-col mb-3">
          <div class="flex justify-between mt-3 text-white">
            <h4 class="text-2xl font-semibold">
              {{education.course_name}}
            </h4>
          </div>
          <div class="flex justify-between mt-2 text-white">
            <div>
              <i class="bx bx-building"></i>
              <p class="inline">{{education.school_name}}</p>
            </div>
            <div>
              <i class="bx bx-calendar-alt"></i>
              <p class="inline">{{education.start_date}} - {{education.end_date}}</p>
            </div>
          </div>
        </div>
        <hr />
        {% endfor %}
      </section>
    </main>
  </body>
  {% endblock content %}