{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}
      <section class="p-10 mt-5 text-white max-sm:p-2">
        <div class="mb-5 text-center">
          <h1 class="font-mono text-3xl">My Tech Stack</h1>
        </div>
        
        <div class="mt-6 flex flex-wrap gap-10 p-6 justify-between xl:justify-start mx-auto max-w-5xl">
          {% for tech_stack in stack %}

          <span class="inline-block overflow-hidden" style="opacity: 1; transform: none;">
            <div class="w-16 md:w-24 h-16 md:h-24 flex flex-col justify-center items-center hover:bg-white/70 text-black transition-colors rounded-md group/imagelink">
              <img alt="{{ tech_stack.title }}" loading="lazy" width="50" height="50" class="object-cover group-hover/imagelink:rotate-[10deg] duration-100" style="color:transparent" srcset="{{ tech_stack.image.url }}">
              <p class="mt-2 text-sm text-black/80 font-rethink-sans font-semibold text-center">{{ tech_stack.title }}</p>
            </div>
          </span>  
          {% endfor %}
        </div>        
    
      </section>
  {% endblock content %}